.item {
    height: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.atomicNumber {
    font-size: 14px;
    font-weight: 500;
}
.atomicMass {
    font-size: 10px;
    align-items: center;
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.symbol {
    font-size: 24px;
    text-align: center;
    flex: 1 1;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.name {
    font-size: 11px;
    text-align: center;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.legend .legendItem {
    position: relative;
}
.legend .legendItem:after {
    font-size: 10px;
    font-weight: 300;
    color: #4b5563;
    border: 0 #000 solid;
    border-bottom-width: 1px;
    border-color: rgb(209 213 219);
    border-style: dashed;
    display: block;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    position: absolute;
    text-align: left;
    top: 50%;
    white-space: nowrap;
}
.legend .legendItem:after {
    content: attr(data-tooltip);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.legend .legendItemRight:after {
    left: 100%;
    text-align: left;
}

.legend .legendItemLeft:after {
    right: 100%;
    text-align: right
}