.gridContainer {
    display: grid;
    gap: 4px;
    padding: 10px 25px;
    justify-content: center;
    width: 100%;
    grid-auto-columns: minmax(0,1fr);
}
.gridItem {
    display: block;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.gridItem::before {
    color: rgb(75 85 99);
    display: block;
    font-size: 11px;
    left: 0;
    position: absolute;
    text-align: center;
    top: -20px;
    width: 100%;
}
.gridItem::after {
    display: block;
    position: relative;
    transform: translateY(-50%);
    color: rgb(75 85 99);
    display: block;
    font-size: 11px;
    left: -63%;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
.item1:before {
    content: "1";
}
.item4:before {
    content: "2";
}
.item21:before {
    content: "3";
}
.item22:before {
    content: "4";
}
.item23:before {
    content: "5";
}
.item24:before {
    content: "6";
}
.item25:before {
    content: "7";
}
.item26:before {
    content: "8";
}
.item27:before {
    content: "9";
}
.item28:before {
    content: "10";
}
.item29:before {
    content: "11";
}
.item30:before {
    content: "12";
}
.item5:before {
    content: "13";
}
.item6:before {
    content: "14";
}
.item7:before {
    content: "15";
}
.item8:before {
    content: "16";
}
.item9:before {
    content: "17";
}
.item2:before {
    content: "18";

}

.item1::after {
    content: "1";

}
.item3::after {
    content: "2";
}
.item11::after {
    content: "3";
}
.item19::after {
    content: "4";
}
.item37::after {
    content: "5";
}
.item55::after {
    content: "6";
}
.item87::after {
    content: "7";
}


.placeholderElement {
    grid-area: 2/7/2/8;
    transform: translate(0,0) rotate(0) skewX(0) skewY(0) scaleX(1.5) scaleY(1.5);
}

.item2 {
    grid-column-start: 18;
}
.item5, .item13 {
    grid-column-start: 13;
}


.item72, .item104, .item57, .item89 {
    grid-column-start: 4;
}

.item57, .item58, .item59, .item60, .item61, .item62, .item63, .item64, .item65, .item66, .item67, .item68, .item69, .item70, .item71 {
    grid-row-start: 9;
}
.item100, .item101, .item102, .item103, .item89, .item90, .item91, .item92, .item93, .item94, .item95, .item96, .item97, .item98, .item99 {
    grid-row-start: 10;
}
.item58, .item90 {
    grid-column-start: 5;
}
.item59, .item91 {
    grid-column-start: 6;
}
.item60, .item92 {
    grid-column-start: 7;
}
.item61, .item93 {
    grid-column-start: 8;
}
.item62, .item94 {
    grid-column-start: 9;
}
.item63, .item95 {
    grid-column-start: 10;
}
.item64, .item96 {
    grid-column-start: 11;
}
.item65, .item97 {
    grid-column-start: 12;
}
.item66, .item98 {
    grid-column-start: 13;
}
.item67, .item99 {
    grid-column-start: 14;
}
.item68, .item100 {
    grid-column-start: 15;
}
.item69, .item101 {
    grid-column-start: 16;
}
.item70, .item102 {
    grid-column-start: 17;
}
.item71, .item103 {
    grid-column-start: 18;
}

.gridContainerElGroups {
    display: grid;
    justify-content: right;
    padding: 10px 25px;
    margin-top: 5px;
    gap: 2px;
    grid-template-columns: 120px 180px 150px 180px;
}
.gridItemGroup {
    display: flex;
    flex-direction: revert;
    align-items: center;
    margin-top: 5px;
}

@media only screen and (max-width: 670px) {
    .gridContainerElGroups {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 650px) {
    .gridItem::after {
        content: "";
    }
    .gridItem::before {
        content: "";
    }
    .placeholderElement {
        display: none;
    }
}